
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6; 
  
}

/* Navbar */
.navbar {
  background-color: #222222 ;
}

.navbar-brand {
  font-weight: bold;
  color: #ffcc00 ;
}

.nav-link {
  color: #e6570a ;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffcc00 ;
}


header.index {
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
  text-align: center;
  padding: 40px 20px;
}
body.index{
  background-image:
  linear-gradient(rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)),
  url(images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6; 
}
