
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6; 
  
}

/* Navbar */
.navbar {
  background-color: #222222 ;
}

.navbar-brand {
  font-weight: bold;
  color: #ffcc00 ;
}

.nav-link {
  color: white ;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffcc00 ;
}


header.index {
  background: gray;
  color: white;
  text-align: center;
  padding: 0px 0px;
}
body.index{
  background-image:
  linear-gradient(rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)),
  url(images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6; 
}
footer.index {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
header.football{
  background: gray;
  color: white;
  text-align: center;
  padding: 0px 0px;
}
body.football{
  background-image:
  linear-gradient(rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)),
  url(images/footballstars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6; 

}
h3.break-football {
    text-align: center;
    margin-top: 20px;    
    color: #ffcc00;
}
footer.football {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
header.basketball{
background: gray;
  color: white;
  text-align: center;
  padding: 0px 0px;
}
body.basketball{
  background-image:
  linear-gradient(rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)),
  url(images/basketball.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6; 

}
footer.basketball {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
header.athletics{
background: gray;
  color: white;
  text-align: center;
  padding: 0px 0px;
}
body.athletics{
  background-image:
  linear-gradient(rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)),
  url(images/athletics.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6; 

}
.abouthistory-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.info-box {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
}
.break-athletics {
    text-align: center;
    margin-top: 20px;    
    color: #ffcc00;
}

.events-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.event-box {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    
    border-radius: 10px;
    text-align: center;
}
footer.athletics {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
header.tennis{
background: gray;
  color: white;
  text-align: center;
  padding: 0px 0px;
}
body.tennis{
background-image:
  linear-gradient(rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)),
  url(images/tennis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6; 
}
footer.tennis {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
header.swimming{
background: gray;
  color: white;
  text-align: center;
  padding: 0px 0px;
}
body.swimming{
background-image:
  linear-gradient(rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)),
  url(images/swimming.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6; 

}
footer.swimming {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
header.rugby{
background: gray;
  color: white;
  text-align: center;
  padding: 0px 0px;
}
body.rugby{
  background-image:
  linear-gradient(rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)),
  url(images/rugby.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: white;
  line-height: 1.6; 

}
.break-rugby {
    text-align: center;
    margin-top: 20px;    
    color: #ffcc00;
}

footer.rugby {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
footer.contact {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}